<form action="/expense/{{record._id}}?_method=PUT" method="POST" class="container d-flex flex-column align-items-center">

        <div class="form-group col-md-6">
            <label for="name">名目</label>
            <input type="text" class="form-control" id="name" name="name" value="{{record.name}}" required>
        </div>
        <div class="form-group col-md-6">
            <label for="date">日期</label>
            <input type="date" class="form-control" id="date" name="date" value="{{record.date}}" required>
        </div>
    <div class="form-group">
        <label for="amount">金額</label>
        <input type="number" class="form-control" id="amount" name="amount" value="{{record.amount}}" required>
    </div>

    <div class="form-group">
        <label for="merchant">商家</label>
        <input type="text" class="form-control" id="merchant" name="merchant" value="{{record.merchant}}" required>
    </div>

    <div class="form-group col-md-4">
        <label for="category">類別</label>
        <select id="category" class="form-control" name="category">
            {{#each category}}
            <option>{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
</form>